body {
  background-color: #364D6F;
  color: #343C50;
  text-align: center;
}

a:link {
  color: #7DE9F5;
}

a:visited {
  color: #5bc7d3;
}

a:hover {
  color: #9FFBF7;
}

a:active {
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #7DE9F5;
	
}

.header {
  display: flex;
  align-items: center;
}

.timer, .errors,
.accuracy, .cpm, .wpm {
  background-color: #262F4B;
  color: #85BEC3;
  height: 60px;
  width: 130px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
}

.cpm, .wpm  {
  display: none;
}

.header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.curr_time, .curr_errors,
.curr_accuracy, .curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
}

.quote {
  background-color: #2E323C;
  color: #90A6A8;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
}

.input_area {
  background-color: #C7DBDD;
  height: 80px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
  box-shadow: #191A30 5px 8px 5px;
}

.incorrect_char {
  color: #FA00DF;
  text-decoration: underline;
}

.correct_char {
  color: #577070;
}

.restart_btn {
  display: none;
  background-color: #26464B;
  color: #B1C385;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  box-shadow: #192130 5px 8px 5px;
}