body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    background-color: #fff;
    color: #fff;
}

span { font-weight: bold; }

h1 {
    text-align: center;
}

button {
    border: #9ea1a7 4px solid;
    border-radius:5px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #616169;
    color: #fff;
    font-weight: 900;
    margin: 0 2px 0 2px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div { 
    width:90%;
    margin:auto;
    padding: 0 0 0 0;
    border:0px solid;
}

.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
